<form class="row">
  <div class="first">
    <input type="number" class="form-control" name="inputNumber" [(ngModel)]="value" (ngModelChange)="calculate()">
  </div>
  <div class="second">
    <select name="inputCal" class="form-select" [(ngModel)]="cal" (change)="calculate()">
      <option value="p">isPrime</option>
      <option value="f">isFibonacci</option>
    </select>
  </div>
  <div class="third">
    <div>{{ answer }}</div>
  </div>
</form>
<button type="button" class="btn btn-primary" style="float:right; margin-top: 20px;" routerLink="/q2">next question</button>